In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso, ElasticNet
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.metrics import mean_squared_error

In [100]:
data = pd.read_csv('lr.csv')
data

,sale_price,retail_price,shoe_size,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,West Virginia,Wisconsin,Wyoming,Off-White,order_day,order_month,order_year,release_day,release_month,release_year
0,1097.0,220.0,11.0,0,0,0,1,0,0,0,...,0,0,0,0,1,9,2017,24,9,2016
1,685.0,220.0,11.0,0,0,0,1,0,0,0,...,0,0,0,0,1,9,2017,23,11,2016
2,690.0,220.0,11.0,0,0,0,1,0,0,0,...,0,0,0,0,1,9,2017,23,11,2016
3,1075.0,220.0,11.5,0,0,0,0,0,0,0,...,0,0,0,0,1,9,2017,23,11,2016
4,828.0,220.0,11.0,0,0,0,0,0,0,0,...,0,0,0,0,1,9,2017,11,2,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,565.0,220.0,8.0,0,0,0,0,0,0,0,...,0,0,0,0,13,2,2019,26,12,2018
99952,598.0,220.0,8.5,0,0,0,1,0,0,0,...,0,0,0,0,13,2,2019,26,12,2018
99953,605.0,220.0,5.5,0,0,0,0,0,0,0,...,0,0,0,0,13,2,2019,26,12,2018
99954,650.0,220.0,11.0,0,0,0,1,0,0,0,...,0,0,0,0,13,2,2019,26,12,2018
99955,640.0,220.0,11.5,0,0,0,0,0,0,0,...,0,0,0,0,13,2,2019,26,12,2018

In [101]:
X = data.drop(columns='sale_price')
y = data.sale_price

In [102]:
polynomial_features = PolynomialFeatures().fit_transform(X)
polynomial_features

array([[1.000000e+00, 2.200000e+02, 1.100000e+01, ..., 8.100000e+01,
        1.814400e+04, 4.064256e+06],
       [1.000000e+00, 2.200000e+02, 1.100000e+01, ..., 1.210000e+02,
        2.217600e+04, 4.064256e+06],
       [1.000000e+00, 2.200000e+02, 1.100000e+01, ..., 1.210000e+02,
        2.217600e+04, 4.064256e+06],
       ...,
       [1.000000e+00, 2.200000e+02, 5.500000e+00, ..., 1.440000e+02,
        2.421600e+04, 4.072324e+06],
       [1.000000e+00, 2.200000e+02, 1.100000e+01, ..., 1.440000e+02,
        2.421600e+04, 4.072324e+06],
       [1.000000e+00, 2.200000e+02, 1.150000e+01, ..., 1.440000e+02,
        2.421600e+04, 4.072324e+06]], shape=(99956, 1830))

In [103]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42
)

In [104]:
pipeline = Pipeline([
    ('scaler', MinMaxScaler()),
    ('model', LinearRegression())
])

pipeline.fit(X_train, y_train)
score = pipeline.score(X_test, y_test)
score

0.4478224276376025